body{
    font-family: Arial, sans-serif;
    padding: 32px;
    margin: 26px; 
}

.content{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: none;
}

#addTaskBtn{
  background-color: #1DA21B;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

#addTaskBtn:hover{
  background-color: #66D264;
}

#deleteTaskBtn{
  background-color: #F26F9B;
  color: white;
  cursor: pointer;
  align-self: flex-start;
}

.tableContainer{
  width: 100%;
  max-width: 100%;
  background: #D9D9D9;
  border-radius: 8px;
}

table{
  width: 100%;
  border: collapse;
  overflow: hidden;
}

th, td{
  padding: 12px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  gap: 12px;
}

.txtInput{
  flex: 1;
  min-width: 0;
  border: none;
  border-radius: 4px;
  background-color: #D9D9D9;
  padding: 8px 12px;
  box-sizing: border-box;
}
